{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <h4 class="card-header"><strong>경중현</strong></h4>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">University</label>
                    <h5>Sunmoon Univ.</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Department</label>
                    <h5>Computer Science</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">E-mail</label>
                    <h5>jh122975@sunmoon.ac.kr</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Phone number</label>
                    <h5>010-3898-6584</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">SNS</label>
                    <h5>kyungjoongjoong</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <h4 class="card-header"><strong>배태랑</strong></h4>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">University</label>
                    <h5>Sunmoon Univ.</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Department</label>
                    <h5>Computer Science</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">E-mail</label>
                    <h5>btr080910@sunmoon.ac.kr</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Phone number</label>
                    <h5>010-4699-1441</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">SNS</label>
                    <h5>btr0809</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <h4 class="card-header"><strong>고여은</strong></h4>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">University</label>
                    <h5>Sunmoon Univ.</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Department</label>
                    <h5>Computer Science</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">E-mail</label>
                    <h5>koye0201@sunmoon.ac.kr</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Phone number</label>
                    <h5>010-3619-2185</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">SNS</label>
                    <h5>koye0201</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <h4 class="card-header"><strong>조현열</strong></h4>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">University</label>
                    <h5>Sunmoon Univ.</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Department</label>
                    <h5>Computer Science</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">E-mail</label>
                    <h5>daniel972632@sunmoon.ac.kr</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">Phone number</label>
                    <h5>010-5591-6542</h5>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlReadOnlyInput1" class="form-label">SNS</label>
                    <h5>121579x8</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}